<AuthorizeView>
    <Authorized>
        Hello, @context.User.Identity?.Name!
        <a href="MicrosoftIdentity/Account/SignOut">Log out</a>
    </Authorized>
    <NotAuthorized>
        <MudContainer style="justify-content: center; align-content: center">
        <MudLink Href="MicrosoftIdentity/Account/SignIn" Typo="Typo.h2">Log In</MudLink>
        </MudContainer>
    </NotAuthorized>
</AuthorizeView>
